#root {
  .nav-bar {
    background-color: white;
    .title {
      font-family: 'Quickers';
      color: black;
      margin-left: 2vw;
    }
    .button {
      font-family: 'Arial Black';
      border-color: black;
      margin-left: auto;
    };
  }
}
